<div class="week-select">
  <button ng-click="ctrl.prevWeek()" 
          class="btn btn-default week-arrow">&lt;</button>
  <div class="week-start">{{ ctrl.week[0].date }}</div>
  <div class="week-end"> to {{ ctrl.week[3].date }}</div>
  <button ng-click="ctrl.nextWeek()" 
          class="btn btn-default week-arrow">&gt;</button>
</div>

<div class="driver-table">
  <div ng-repeat="day in ctrl.week" class="driver-row">
    <div class="day">{{ day.name }}</div>
    <div class="date">{{ day.date }}</div>
    <button ng-repeat="driverNum in ctrl.range(day.numDrivers)"
            ng-click="ctrl.createDriver(day.date)"
            ng-style="{ width: {{ 60 / day.numDrivers - 1 }} + '%'}"
            class="btn btn-default driver">
      {{ day.drivers[driverNum].name || ctrl.driverPlaceholder }}
    </button>
  </div>
</div>