<div class="driver-table">
  <div class="driver-row">
    <div class="day">Mon</div>
    <div class="date">11/1/17</div>
    <button ng-click="ctrl.editDriver('mon', 1)" 
            class="btn btn-default two-drivers">{{ctrl.mon1}}</button><!--
 --><button ng-click="ctrl.editDriver('mon', 2)" 
            class="btn btn-default two-drivers">{{ctrl.mon2}}</button>
  </div>

  <div class="driver-row">
    <div class="day">Tues</div>
    <div class="date">11/1/17</div>
    <button ng-click="ctrl.editDriver('tue', 1)" 
            class="btn btn-default one-driver">{{ctrl.tue1}}</button>
  </div>

  <div class="driver-row">
    <div class="day">Wed</div>
    <div class="date">11/1/17</div>
    <button ng-click="ctrl.editDriver('wed', 1)" 
            class="btn btn-default one-driver">{{ctrl.wed1}}</button>
  </div>
  
  <div class="driver-row">
    <div class="day">Thurs</div>
    <div class="date">11/1/17</div>
    <button ng-click="ctrl.editDriver('thu', 1)" 
            class="btn btn-default two-drivers">{{ctrl.thu1}}</button><!--
 --><button ng-click="ctrl.editDriver('thu', 2)" 
            class="btn btn-default two-drivers">{{ctrl.thu2}}</button>
  </div>
</div>