.main-container {
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.title {
  text-align: center;
}

.week-select {
  text-align: center;
  margin-bottom: 10px;
}

.week-arrow {
  display: inline-block;
}

.week-start {
  display: inline-block;
}

.week-end {
  display: inline-block;
}

.driver-table {

}

.driver-row {
  white-space: nowrap;
  padding-bottom: 5px;
}

.driver-row div {
  display: inline-block;
  text-align: center;
}

.day {
  width: 14%;
}

.date {
  width: 20%;
}

.driver {
  margin: auto .5%;
}

.one-driver {
  width: 59%;
  margin-left: .5%;
  margin-right: .5%;
}

.two-drivers {
  width: 29%;
  margin-left: .5%;
  margin-right: .5%;
}